footer{
    background-color: #000416;
    margin-top: -5px;
    padding-bottom: 64px;
}

footer .map .rating .rat .info h6{
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    color: #fff;
    margin-bottom: 2px;
}

footer .map .rating .rat .info p{
    font-weight: 500;
    font-size: 12px;
    line-height: 120%;
    color: #fff;
}

footer .map .rating .rat{
    background-color: #211951;
    border-radius: 100px;
    padding: 12px;
    display: flex;
    width: 240px;
    align-items: center;
}

footer .map .rating .rat .info{
    margin-left: 16px;
}

footer .map .rating{
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
}

footer .map .rating .rat:first-child{
    margin-right: 24px;
}

footer .map iframe{
    border-radius: 24px;
    width: 100%;
    height: 420px;
}

footer .footer-info{
    margin-top: 64px;
}

footer .footer-info h1{
    font-weight: 700;
    font-size: 40px;
    color: #fff;
    margin-bottom: 12px;
}

footer .footer-info>p{
    font-weight: 500;
    font-size: 16px;
    color: #f50b7a;
    margin-bottom: 64px;
}

footer .footer-info .contacts .addresses .addr .subtitle h6{
    font-weight: 700;
    font-size: 20px;
    color: #fff;
}

footer .footer-info .contacts .addresses .addr .subtitle img{
    margin-right: 10px;
}

footer .footer-info .contacts .addresses .addr .subtitle{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

footer .footer-info .contacts .addresses .addr ul li a{
    padding-left: 28px;
    font-weight: 500;
    font-size: 16px;
    color: #836fff;
    text-decoration: none;
}

footer .footer-info .contacts .addresses .addr ul li{
    margin-bottom: 6px;
}

footer .footer-info .contacts .addresses{
    display: grid;
    grid-template-columns: 285px 285px 285px;
}

footer .footer-info .contacts .social .phone a,
footer .footer-info .contacts .social .email a{
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    margin-left: 10px;
}

footer .footer-info .contacts .social .phone,
footer .footer-info .contacts .social .email{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

footer .footer-info .contacts .social .links a{
    margin-right: 24px;
}

footer .footer-info .contacts .social .links a:last-child{
    margin-right: 0;
}

footer .footer-info .contacts .social .links{
    margin-top: 40px;
}

footer .footer-info .contacts{
    display: flex;
    justify-content: space-between;
    padding-bottom: 64px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

footer .footer-info .other-info{
    padding-top: 64px;
}

footer .footer-info .other-info .privacy a{
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

footer .footer-info .other-info .privacy a:first-child{
    margin-right: 24px;
}

footer .footer-info .other-info .privacy{
    display: flex;
}

footer .footer-info .other-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .footer-info .other-info .pay a{
    margin-right: 24px;
}

footer .footer-info .other-info .pay a:last-child{
    margin-right: 0;
}
footer .footer-info .other-info .pay{
    display: flex;
    align-items: center;
    height: 24px;
}



@media screen and (max-width: 1200px){
    footer .footer-info .contacts .addresses{
        grid-template-columns: 230px 230px 230px;
    }
}

@media screen and (max-width: 1024px){
    footer .footer-info .contacts .addresses{
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 10px;
        margin-bottom: 24px;
    }
    footer .footer-info .contacts{
        display: block;
        padding-bottom: 40px;
    }
    footer .footer-info .other-info{
        padding-top: 40px;
    }
    footer .footer-info h1{
        font-size: 34px;
    }
}

@media screen and (max-width: 768px){
    footer .footer-info .contacts .addresses{
        grid-template-columns: 1fr 1fr;
        row-gap: 24px;
    }
    footer .map .rating .rat{
        width: 200px;
    }
    footer .footer-info .other-info{
        display: block;
    }
    footer .footer-info .other-info .privacy{
        margin-bottom: 24px;
        justify-content: center;
    }
    footer .footer-info .other-info .pay{
        justify-content: center;
    }
    footer .footer-info h1{
        font-size: 30px;
    }
}

@media screen and (max-width: 600px){
    footer .map .rating .rat:first-child{
        margin-right: 0;
    }
    footer .map .rating{
        display: grid;
        row-gap: 12px;
    }
    footer .footer-info{
        margin-top: 24px;
    }
    footer .footer-info>p{
        margin-bottom: 24px;
    }
    footer .footer-info .contacts .social .links{
        text-align: center;
    }
    footer .footer-info .contacts{
        padding-bottom: 24px;
    }
    footer .footer-info .other-info{
        padding-top: 24px;
    }
    footer .map iframe{
        height: 350px;
    }
}

@media screen and (max-width: 500px){
    footer .footer-info .contacts .addresses{
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 450px){
    footer .footer-info h1{
        font-size: 24px;
    }
}

@media screen and (max-width: 375px){
    footer .map iframe{
        height: 250px;
    }
}