header .menu ul li a{
    font-weight: 500;
    font-size: 16px;
    color: #211951;
    text-decoration: none;
}

header .menu ul li a:hover{
    color: #836fff;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

header .menu ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

header .menu ul li{
    margin-right: 24px;
}

header .menu ul li:last-child{
    margin-right: 0;
}

header .right-side .burger{
    display: none;
}

header .right-side{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

header .right-side .lang{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 164px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
}

header{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 12px 0;
}

header .right-side .lang .dropbtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-left: 7px;
}

header .right-side .lang .dropbtn img{
    vertical-align: middle;
}

header .right-side .lang .dropbtn img.rotate{
    transform: rotate(180deg);
}
    
header .right-side .dropdown {
    position: relative;
}
    
header .right-side .dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    -webkit-box-shadow: 0 12px 24px 0 rgba(33, 25, 81, 0.25);
            box-shadow: 0 12px 24px 0 rgba(33, 25, 81, 0.25);
    min-width: 160px;
    z-index: 1;
    right: 5px;
    top: 35px;
}

header .right-side .dropdown .dropdown-content a {
    color: #211951;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-weight: 500;
    font-size: 12px;
    line-height: 140%;
}
    
header .right-side .dropdown .dropdown-content a:hover {
    color: #836fff;
}
    
header .right-side .dropdown .dropdown-content.show {
    display:block;
}



@media screen and (max-width: 1024px){
    header .right-side .lang,
    header .logo img{
        width: 123px;
    }
}

@media screen and (max-width: 900px){
    header .right-side .burger{
        display: block;
        margin-left: 20px;
        height: 24px;
    }
    header .menu{
        min-height: 100vh;
        background-color: rgba(131, 111, 255, 0.85);;
        position: fixed;
        top: 0;
        left: -100%;
        z-index: 5;
        width: 85%;
        min-width: 270px;
        padding-top: 100px;
        -webkit-transition: 1s;
        -o-transition: 1s;
        transition: 1s;
    }
    header .menu.menu-show{
        left: 0%;
    }
    header .menu ul{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
    }
    header .menu ul li{
        margin: 12px 0;
    }
    header .menu ul li a{
        font-weight: 700;
        font-size: 20px;
        color: #fff;
    }
    header .right-side .lang{
        width: auto;
    }
}