html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



.wrapper{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

.center{
    max-width: 1296px;
    width: 100%;
    margin: 0 auto;
}

body{
    font-family: 'Poppins', sans-serif;
}

.ellipse img{
    width: 100%;
    max-width: 100%;
}

/* Banner */

.banner{
    background-color: #836fff;
    padding: 12px 0;
    text-align: center;
}

.banner .banner-info p{
    font-weight: 500;
    font-size: 16px;
    color: #fff;
}

.banner .banner-info p span{
    text-decoration: underline;
    -webkit-text-decoration-skip-ink: none;
            text-decoration-skip-ink: none;
}

/* Container First */

.container-first{
    border-radius: 24px;
    background-image: url(../images/head_bg.png);
    margin-bottom: 64px;
    background-size: cover;
    background-position: center;
}

.container-first .dark{
    background-color: rgba(33, 25, 81, 0.6);
    padding: 162px 0px;
    border-radius: 24px;
    text-align: center;
}

.container-first .dark h2{
    font-weight: 700;
    font-size: 64px;
    line-height: 100%;
    background: -o-radial-gradient(30.53%  -104.69%, 534.75% 345.06%, rgb(21, 245, 186) 0%, rgb(131, 111, 255) 100%);
    background: radial-gradient(534.75% 345.06% at 30.53%  -104.69%, rgb(21, 245, 186) 0%, rgb(131, 111, 255) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 12px;
}

.container-first .dark h3{
    font-weight: 700;
    font-size: 64px;
    line-height: 100%;
    color: #fff;
    margin-bottom: 24px;
}

.container-first .dark p{
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    margin-bottom: 42px;
    line-height: normal;
}

.container-first .dark .ticket-btn a{
    font-weight: 700;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    background-color: #21c850;
    padding: 16px 42px;
    border-radius: 10px;
    display: inline-block;
}

.container-first .dark .ticket-btn a:hover{
    background: -o-radial-gradient(51.85% 0%, 69.92% 154.04%, rgb(75, 255, 190) 0%, rgb(33, 200, 80) 100%);
    background: radial-gradient(69.92% 154.04% at 51.85% 0%, rgb(75, 255, 190) 0%, rgb(33, 200, 80) 100%);
    -webkit-transition: 0.8s;
    -o-transition: 0.8s;
    transition: 0.8s;
}

.container-first .dark .ticket-btn a img{
    margin-right: 10px;
    vertical-align: text-bottom;
}

/* Container Advantages */

.container-advantages .adv h6{
    font-weight: 700;
    font-size: 24px;
    color: #211951;
    margin: 7px 0;
}

.container-advantages .adv p{
    font-weight: 500;
    font-size: 16px;
}

.container-advantages .center{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 251px 24px 251px 24px 251px 24px 251px;
    grid-template-columns: 251px 251px 251px 251px;
    -ms-grid-rows: 211px;
    grid-template-rows: 211px;
    -webkit-column-gap: 24px;
       -moz-column-gap: 24px;
            column-gap: 24px;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.container-advantages .center > *:nth-child(1){
	-ms-grid-row: 1;
	-ms-grid-column: 1;
}

.container-advantages .center > *:nth-child(2){
	-ms-grid-row: 1;
	-ms-grid-column: 3;
}

.container-advantages .center > *:nth-child(3){
	-ms-grid-row: 1;
	-ms-grid-column: 5;
}

.container-advantages .center > *:nth-child(4){
	-ms-grid-row: 1;
	-ms-grid-column: 7;
}

/* Container Slider */

.container-slider{
    background-color: #f0f3ff;
    margin-top: -5px;
}

.container-slider .swiper h2{
    font-weight: 700;
    font-size: 40px;
    text-transform: capitalize;
    text-align: center;
    color: #211951;
    margin-bottom: 42px;
    margin-top: 24px;
}

.container-slider .swiper h2 span{
    background: -o-radial-gradient(30.53%  -104.69%, 534.75% 345.06%, rgb(21, 245, 186) 0%, rgb(131, 111, 255) 100%);
    background: radial-gradient(534.75% 345.06% at 30.53%  -104.69%, rgb(21, 245, 186) 0%, rgb(131, 111, 255) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container-slider .swiper .swiper-wrapper .swiper-slide .descr{
    position: absolute;
    bottom: 0;
    padding: 24px;
    text-align: center;
    left: 14.5px;
    right: 14.5px;
}

.container-slider .swiper .swiper-wrapper .swiper-slide .descr p{
    font-weight: 700;
    font-size: 24px;
    text-transform: capitalize;
    color: #fff;
}

.container-slider .swiper .swiper-wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
}

.container-slider .swiper .swiper-wrapper .swiper-slide img{
    display: block;
    width: 100%;
    height: 100%;
}

.container-slider .swiper .swiper-wrapper .swiper-slide{
    position: relative;
}

.container-slider .swiper-pagination-bullet{
    background: rgba(131, 111, 255, 0.5);
}

.container-slider .swiper-pagination-bullet-active{
    background: #836fff;
}

.container-slider .swiper .swiper-pagination{
    position: relative;
    bottom: 0;
    margin-top: 42px;
}

.container-slider .ellipse{
    margin-top: 64px;
}

/* Container FAQ */

.container-faq{
    padding: 64px 0;
    margin-top: -5px;
    background-color: #fff;
}

.container-faq>h2{
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    color: #211951;
    margin-bottom: 42px;
}

.container-faq>h2 span{
    background: -o-radial-gradient(30.53%  -104.69%, 534.75% 345.06%, rgb(21, 245, 186) 0%, rgb(131, 111, 255) 100%);
    background: radial-gradient(534.75% 345.06% at 30.53%  -104.69%, rgb(21, 245, 186) 0%, rgb(131, 111, 255) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container-faq .faq .question .question-info h5{
    font-weight: 700;
    font-size: 20px;
    color: #211951;
}

.container-faq .faq .question .question-info p{
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    color: #211951;
    margin-top: 24px;
}

.container-faq .faq .question{
    padding: 24px;
    border-bottom: 1px solid rgba(131, 111, 255, 0.25);
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 786px 22px;
    grid-template-columns: 786px 22px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
}

.container-faq .faq .question:last-child{
    border-bottom: none;
}

.container-faq .faq .question .question-info p.answer-hide{
    display: none;
}

.container-faq .faq .question .question-info h5.answer-open{
    color: #836fff;
}

.container-faq .faq .question .plus{
    width: 22px;
    height: 22px;
    background-image: url(../images/plus.svg);
    cursor: pointer;
}

.container-faq .faq .question .plus.close{
    background-image: url(../images/close.svg);
}

/* Container Contact */

.container-contact{
    background-color: #f0f3ff;
}

.container-contact .contact-form{
    padding: 64px 0;
}

.container-contact .contact-form h2{
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    color: #211951;
    margin-bottom: 42px;
}

.container-contact .contact-form form{
    width: 856px;
    margin: 0 auto;
    border-radius: 24px;
    padding: 24px;
    background-color: #fff;
}

.container-contact .contact-form form label{
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    color: #211951;
    display: block;
    margin-bottom: 12px;
}

.container-contact .contact-form form label.agree{
    font-weight: 500;
    display: inline;
}

.container-contact .contact-form form label.agree a{
    color: #836fff;
    -webkit-text-decoration-skip-ink: none;
            text-decoration-skip-ink: none;
}

.container-contact .contact-form form input::-webkit-input-placeholder, .container-contact .contact-form form textarea::-webkit-input-placeholder{
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: rgba(33, 25, 81, 0.25);
    font-family: 'Poppins';
}

.container-contact .contact-form form input::-moz-placeholder, .container-contact .contact-form form textarea::-moz-placeholder{
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: rgba(33, 25, 81, 0.25);
    font-family: 'Poppins';
}

.container-contact .contact-form form input:-ms-input-placeholder, .container-contact .contact-form form textarea:-ms-input-placeholder{
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: rgba(33, 25, 81, 0.25);
    font-family: 'Poppins';
}

.container-contact .contact-form form input::-ms-input-placeholder, .container-contact .contact-form form textarea::-ms-input-placeholder{
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: rgba(33, 25, 81, 0.25);
    font-family: 'Poppins';
}

.container-contact .contact-form form input::placeholder,
.container-contact .contact-form form textarea::placeholder{
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: rgba(33, 25, 81, 0.25);
    font-family: 'Poppins';
}

.container-contact .contact-form form input,
.container-contact .contact-form form textarea{
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    font-family: 'Poppins';
    border: 1px solid rgba(33, 25, 81, 0.25);
    border-radius: 10px;
    padding: 16px 24px;
    width: calc(100% - 48px);
}

.container-contact .contact-form form input.agree{
    width: auto;
}

.container-contact .contact-form form textarea{
    height: 208px;
}

.container-contact .contact-form form .name{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: calc(50% - 12px) 24px calc(50% - 12px);
    grid-template-columns: calc(50% - 12px) calc(50% - 12px);  
    -webkit-column-gap: 24px;  
       -moz-column-gap: 24px;  
            column-gap: 24px; 
}

.container-contact .contact-form form>div{
    margin-bottom: 24px;
}

.container-contact .contact-form form button{
    font-weight: 700;
    font-size: 20px;
    font-family: 'Poppins';
    color: #211951;
    border: 1px solid rgba(33, 25, 81, 0.25);
    border-radius: 10px;
    background-color: #fff;
    padding: 16px 42px;
    width: 100%;
    cursor: pointer;
}

.container-contact .contact-form form button:hover{
    background-color: rgba(33, 25, 81, 0.1);
    -webkit-transition: 0.8s;
    -o-transition: 0.8s;
    transition: 0.8s;
}

/* Container Top */

.container-top h1{
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    color: #211951;
    margin-top: 54px;
}

.container-top h1 span{
    background: -o-radial-gradient(30.53%  -104.69%, 534.75% 345.06%, rgb(21, 245, 186) 0%, rgb(131, 111, 255) 100%);
    background: radial-gradient(534.75% 345.06% at 30.53%  -104.69%, rgb(21, 245, 186) 0%, rgb(131, 111, 255) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Container Attractions */

.container-attractions{
    background-color: #f0f3ff;
    margin-top: -5px;
}

.container-attractions nav{
    padding-top: 22px;
    text-align: center;
}

.container-attractions nav p{
    background-color: #fff;
    border-radius: 100px;
    padding: 12px 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #211951;
    display: inline-block;
    cursor: pointer;
    margin-bottom: 12px;
}

.container-attractions nav p.active{
    background-color: #836fff;
    color: #fff;
}

.container-attractions .places .place.left{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 636px 68px 1fr;
    grid-template-columns: 636px 1fr;
    -webkit-column-gap: 68px;
       -moz-column-gap: 68px;
            column-gap: 68px;
    padding-top: 64px;
}

.container-attractions .places .place.right{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 68px 636px;
    grid-template-columns: 1fr 636px;
    -webkit-column-gap: 68px;
       -moz-column-gap: 68px;
            column-gap: 68px;
    padding-top: 64px;
}

.container-attractions .places .place .swiper{
    width: 636px;
}

.container-attractions .places .place .swiper .swiper-wrapper .swiper-slide img{
    width: 100%;
    max-width: 100%;
}

.container-attractions .swiper-pagination-bullet{
    background-color: #fff;
}

.container-attractions .swiper-button-next, 
.container-attractions .swiper-button-prev{
    color: #fff;
}

.container-attractions .swiper-button-next:after, .swiper-button-prev:after{
    font-size: 30px;
}

.container-attractions .places .place .descr h6{
    font-weight: 700;
    font-size: 24px;
    text-transform: capitalize;
    color: #211951;
    margin-bottom: 12px;
}

.container-attractions .places .place .descr p{
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #211951;
    margin-bottom: 42px;
}

.container-attractions .places .place .descr .ticket-btn a{
    background-color: #21c850;
    border-radius: 10px;
    padding: 16px 42px;
    font-weight: 700;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
}

.container-attractions .places .place .descr .ticket-btn a:hover{
    background: -o-radial-gradient(51.85% 0%, 69.92% 154.04%, rgb(75, 255, 190) 0%, rgb(33, 200, 80) 100%);
    background: radial-gradient(69.92% 154.04% at 51.85% 0%, rgb(75, 255, 190) 0%, rgb(33, 200, 80) 100%);
    -webkit-transition: 0.8s;
    -o-transition: 0.8s;
    transition: 0.8s;
}

.container-attractions .places .place .descr .ticket-btn a img{
    margin-right: 10px;
    vertical-align: text-bottom;
}

.container-attractions .places .place .descr{
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
}

.container-attractions .places .place.unshow{
    display: none;
}

.container-attractions .ellipse{
    padding-top: 64px;
}

/* Container Galery */

.container-galery{
    background-color: #f0f3ff;
    margin-top: -5px;
}

.container-galery .images{
    padding-top: 22px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 24px 1fr 24px 1fr 24px 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    -webkit-column-gap: 24px;
       -moz-column-gap: 24px;
            column-gap: 24px;
    row-gap: 24px;
}

.container-galery .images .image img{
    width: 100%;
    max-width: 100%;
    height: 100%;
}

.container-galery .images .image.long1{
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / span 2;
}

.container-galery .images .image.long7{
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2 / span 2;
    -ms-grid-column: 4;
    grid-column: 4;
}

.container-galery .images .image.long10{
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    grid-row: 3 / span 2;
    -ms-grid-column: 3;
    grid-column: 3;
}

.container-galery .images .image.long12{
    -ms-grid-row: 4;
    -ms-grid-row-span: 2;
    grid-row: 4 / span 2;
    -ms-grid-column: 2;
    grid-column: 2;
}

.container-galery .zoom{
    -webkit-transition: -webkit-transform ease-in-out 0.3s;
    transition: -webkit-transform ease-in-out 0.3s;
    -o-transition: transform ease-in-out 0.3s;
    transition: transform ease-in-out 0.3s;
    transition: transform ease-in-out 0.3s, -webkit-transform ease-in-out 0.3s;
}

.container-galery .zoom:hover{
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
}

.container-galery .ellipse{
    padding-top: 64px;
}





@media screen and (max-width: 1296px){
    .center{
        width: 95%;
    }
    .container-advantages .center {
        -ms-grid-columns: 1fr 2% 1fr 2% 1fr 2% 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        -webkit-column-gap: 2%;
           -moz-column-gap: 2%;
                column-gap: 2%;
    }
    .container-slider .swiper .swiper-wrapper .swiper-slide .descr{
        left: 2%;
        right: 2%;
    }
    .container-slider .swiper .swiper-wrapper .swiper-slide .descr p{
        font-size: 20px;
    }
    .container-attractions .places .place.left,
    .container-attractions .places .place.right{
        -ms-grid-columns: 1fr 4% 1fr;
        grid-template-columns: 1fr 1fr;
        -webkit-column-gap: 4%;
           -moz-column-gap: 4%;
                column-gap: 4%;
    }
    .container-attractions .places .place .swiper{
        width: 100%;
    }
}

@media screen and (max-width: 1024px){
    .container-first .dark h2,
    .container-first .dark h3{
        font-size: 54px;
    }
    .container-advantages .adv h6{
        font-size: 20px;
    }
    .container-advantages .adv p{
        font-size: 15px;
    }
    .container-slider .swiper .swiper-wrapper .swiper-slide .descr{
        padding: 24px 0;
    }
    .container-slider .swiper .swiper-wrapper .swiper-slide .descr p{
        font-size: 18px;
    }
    .container-slider .swiper h2,
    .container-faq>h2,
    .container-contact .contact-form h2,
    .container-top h1{
        font-size: 34px;
    }
    .container-faq .faq .question{
        -ms-grid-columns: 1fr 24px 22px;
        grid-template-columns: 1fr 22px;
        width: auto;
        -webkit-column-gap: 24px;
           -moz-column-gap: 24px;
                column-gap: 24px;
    }
    .container-contact .contact-form form{
        width: calc(100% - 48px);
    }
    .container-top h1{
        margin-top: 40px;
    }
    .container-attractions .places .place.left,
    .container-attractions .places .place.place.right{
        padding-top: 50px;
    }
    .container-attractions .places .place .descr .ticket-btn a{
        font-size: 18px;
        padding: 12px 42px;
    }
    .container-attractions .places .place .descr p{
        margin-bottom: 30px;
    }
    .container-attractions .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
        bottom: var(--swiper-pagination-bottom, 25px);
    }
    .container-galery .images{
        -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .container-galery .images .image.long7{
        -ms-grid-column: 3;
        grid-column: 3;
    }
    .container-galery .images .image.long10{
        grid-column: auto;
    }
}

@media screen and (max-width: 900px){
    .banner{
        display: none;
    }
    .container-galery .zoom:hover{
        -webkit-transform: none;
            -ms-transform: none;
                transform: none;
    }
}

@media screen and (max-width: 768px){
    .container-first .dark h2,
    .container-first .dark h3{
        font-size: 44px;
    }
    .container-first .dark .ticket-btn a{
        font-weight: 500;
        font-size: 18px;
    }
    .container-first .dark{
        padding: 130px 16px;
        text-align: start;
    }
    .container-first .dark .ticket-btn{
        text-align: center;
    }
    .container-advantages .center {
        -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 12px;
    }
    .container-advantages .center > *:nth-child(1) {
		-ms-grid-row: 1;
		-ms-grid-column: 1;
    }
    .container-advantages .center > *:nth-child(2) {
		-ms-grid-row: 1;
		-ms-grid-column: 2;
    }
    .container-advantages .center > *:nth-child(3) {
		-ms-grid-row: 2;
		-ms-grid-column: 1;
    }
    .container-advantages .center > *:nth-child(4) {
		-ms-grid-row: 2;
		-ms-grid-column: 2;
    }
    .container-advantages .adv:nth-child(2){
        -webkit-box-ordinal-group: 5;
            -ms-flex-order: 4;
                order: 4;
    }
    .container-advantages .adv:nth-child(3){
        -webkit-box-ordinal-group: 4;
            -ms-flex-order: 3;
                order: 3;
    }
    .container-slider .swiper .swiper-wrapper .swiper-slide .descr p{
        font-size: 15px;
    }
    .container-slider .swiper h2,
    .container-faq>h2,
    .container-contact .contact-form h2,
    .container-top h1{
        font-size: 30px;
    }
    .container-attractions .places .place.left, 
    .container-attractions .places .place.right{
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }
    .container-attractions .places .place .swiper{
        margin-bottom: 20px;
    }
    .container-attractions .places .place .descr .ticket-btn{
        text-align: center;
    }
    .container-attractions .places .place.place.right .descr{
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1;
    }
    .container-galery .images{
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }
    .container-galery .images .image.long7{
        -ms-grid-column: 2;
        grid-column: 2;
    }
}

@media screen and (max-width: 600px){
    .container-first .dark h2,
    .container-first .dark h3{
        font-size: 38px;
    }
    .container-first .dark h2{
        padding-bottom: 4px;
    }
    .container-first .dark h3{
        margin-bottom: 12px;
    }
    .container-first .dark{
        padding: 100px 16px;
    }
    .container-first .dark .ticket-btn a img{
        display: none;
    }
    .container-first{
        margin-bottom: 42px;
    }
    .container-advantages .adv h6{
        font-size: 18px;
    }
    .container-advantages .adv p{
        font-size: 14px;
    }
    .container-advantages .ellipse img{
        margin-top: 24px;
    }
    .container-slider .ellipse{
        margin-top: 24px;
    }
    .container-faq .faq .question .question-info h5,
    .container-faq .faq .question .question-info p{
        font-size: 18px;
    }
    .container-faq{
        padding: 34px 0;
    }
    .container-contact .contact-form form .name{
        -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    }
    .container-contact .contact-form form .name div:first-child{
        margin-bottom: 24px;
    }
    .container-contact .contact-form form button{
        font-size: 18px;
    }
    .container-contact .contact-form{
        padding: 24px 0;
    }
    .container-attractions .places .place.left,
    .container-attractions .places .place.place.right{
        padding-top: 42px;
    }
    .container-attractions nav p{
        font-size: 14px;
    }
    .swiper-button-next, 
    .swiper-button-prev{
        display: none;
    }
    .container-attractions .places .place .descr h6{
        font-size: 20px;
    }
}

@media screen and (max-width: 450px){
    .container-first .dark h2,
    .container-first .dark h3{
        font-size: 32px;
    }
    .container-first .dark .ticket-btn a{
        font-size: 16px;
    }
    .container-first .dark{
        padding: 64px 16px;
    }
    .container-advantages .center{
        -webkit-column-gap: 24px;
           -moz-column-gap: 24px;
                column-gap: 24px;
    }
    .container-advantages .adv img{
        width: 100px;
    }
    .container-slider .swiper h2,
    .container-faq>h2,
    .container-contact .contact-form h2,
    .container-top h1{
        font-size: 24px;
    }
    .container-faq .faq .question .question-info h5,
    .container-faq .faq .question .question-info p{
        font-size: 16px;
    }
    .container-faq{
        padding: 20px 0;
    }
    .container-contact .contact-form form button{
        font-size: 16px;
    }
    .container-attractions nav p{
        font-size: 12px;
        padding: 10px 15px;
    }
    .container-galery .images{
        -webkit-column-gap: 18px;
           -moz-column-gap: 18px;
                column-gap: 18px;
        row-gap: 18px;
    }
    .container-galery .ellipse{
        padding-top: 40px;
    }
    .container-top h1{
        margin-top: 22px;
    }
}

@media screen and (max-width: 375px){
    .container-first .dark .ticket-btn a{
        width: calc(100% - 84px);
    }
    .container-advantages .adv h6{
        font-size: 16px;
    }
    .container-advantages .adv p{
        font-size: 12px;
    }
    .container-faq{
        padding: 12px 0;
    }
}

@media screen and (max-width: 320px){
    .container-advantages .adv img{
        width: 64px;
    }
}